@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

html{
    overflow: hidden;
}

body{
    position: absolute;
    margin:0;
    bottom:10px;
}

#imgbg{
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    filter:blur(0px);
}

.wrapper{
    display:grid;
    width:100vw;
    height: 100vh;
}

.grid-child{
    position:relative;
}

.top{
    width:100vw;
    top:9vh;
}

h1{
    font-family:"Open Sans", sans-serif;
    color:white;
    font-size:4em;
    text-align:center; 
}

a{
    font-family:"Roboto", sans-serif;
    text-decoration:none;
    text-align: center;
}

a:visited{
    color:white;
}
