html{
    overflow: hidden;
}

body{
    position: absolute;
    margin:0;
    bottom:10px;
    right:10px;
}

.main{
    width:100vw;
    height: 100vh;
}

#imgbg{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width:105vw;
    filter:blur(5px);
}


#wrapper{
    display: grid;
    
}