@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

html{
    overflow: hidden;
}

body{
    margin:0;
    bottom:12px;
}

#imgbg{
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    filter:blur(0px);
}

.wrapper{
    position:absolute;
    top:35vh;
    display:grid;
    width:100vw;
    height: 55vh;
}

.grid-child{
    position:relative;
    display: grid;
    justify-content: center;
}

.top{
    position:absolute;
    top:9vh;
    width:100vw;
}

.box{
    height:fit-content;
    width:10em;
    padding:1em 0em;
    border: solid .1em white;
}

h1{
    font-family:"Open Sans", sans-serif;
    color:white;
    font-size:6em;
    text-align:center;
    margin:0; 
}

a{
    font-family:"Roboto", sans-serif;
    color:white;
    text-decoration:none;
    text-align: center;
    font-size:1.75em;
    display: block;
}

a:visited{
    color:white;
}

a:hover{
    text-decoration:underline;
    text-decoration-thickness: 0.07em;
    text-underline-offset: .1em;
}

@media (max-width: 1167px) {
    #imgbg{
      width:auto;
      height:100vh;
    }
  }